html{
    overflow-x: hidden;
}

/* The side navigation menu */
.sidenav {
height: 100%; /* 100% Full-height */
width: 90px; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-image: linear-gradient(to top, #269EFF, #3553FF);
overflow-x: hidden;
overflow-y: auto; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
text-decoration: none;
font-size: 12px;
color: #fff;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 6px;
margin-left: 0px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
transition: margin-left .5s;
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 10px;}
}

.profile{
  border-radius: 10px;
  text-align:center;
  padding-top: 15px;
  width: 50px; 
  height: 50px;
  margin-left: 20px;
  margin-bottom: 90px;

}

.para-text{
    font-size: 11.4px;
    color: white;
}


.button-a{
padding: 5px;
background: transparent;
border: none;
width: 100%;
color: white;
}

.button-a li{
  font-weight: 100;
margin-top: 5px;
font-size: 16px;
}



.button-a label .active{
padding: 10px;
background: transparent;
border: none;
width: 100%;
font-size: 12.14px;
font-weight: 700;
}

.button-a label .active{
padding: 10px;
background: transparent;
border: none;
width: 100%;
color: black;
font-size: 14.14px;
}


.button-a.active li{
padding: 10px;
background: white;
border: none;
width: 100%;
color: #00DB4E;
text-transform: capitalize;
}

.button-a.notactive label{
    display: none;
    margin-top: 20px;
    height: 100px;
}
.tiny{
    font-size: 8px;
}
.button-a.notactive{
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 13px;
}

.footer{
    margin-top: 20px;
    bottom: 0;
    left: 19px;
}


  .button-a.active{
    padding: 5px;
    background: white;
    border: none;
    width: 100%;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
}



.form input[type='text']{
    color: rgb(49, 175, 58);
    margin-top: -20px;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 7px;
    border: none;
    background-color: rgb(232, 255, 234);
    border-radius: 50px;
}

.form ::placeholder{
    color: #53DA5B;
    font-size: 14px;
}


.search{
    color: #53DA5B;
    margin-left: -40px;
    margin-right: 40px;
    background: none;
    border: none;
}

.add-btn{
    background-image: linear-gradient(to top, #00D566, #00BFCE);
    border-style: solid;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 8px;
    border-radius: 50px;
    clear: both;
    border-color: white;
    box-shadow: 0 0 5px 0 rgb(1, 219, 107);
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
}

.pad-l{
    padding-left: 200px;
    padding-top: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.pad-a{
    padding-left: 180px;
    padding-top: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card{
    border: none;
    width: 184px;
    height: 260px;
    float: left;
    margin-left: 25px;
    margin-bottom: 40px;
    box-shadow: 0 0 18px 1px rgba(170, 170, 170, 0.4)
}


.card h4{
    color: #3E455B;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 14px;
}

.card p {
    color: #959AAF;
    padding-left: 14px;
    font-size: 10px;
}

.edit-btn{
    margin-top: 5px;
    margin-left: 30%;
    border: none;
    width: 80px;
    height: 30px;
    padding: 2px;
    

    color: rgb(46, 195, 56);
    background-color: rgb(234, 255, 236);
    border-radius: 5px;
}


.main-mod{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background-color: rgb(0, 0, 0, .5);
}

.inner-mod{
  position: fixed;
  width: 800px;
  height: 500px;
  top: 10%;
  left: 20%;
  text-align: center;
  background-color: white;
}

.header{
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 700;
  color: #3553FF;
  font-size: 20px;
}

.posted{
  font-size: 13px;
  margin-top: -10px;
}

.header-x{
  padding-right: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #fff;
  border-bottom-left-radius: 30px;
  border: none;
  background-color: #3553FF;
  box-shadow: 0 0 10px 0 #3553FF;
}



.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  text-transform: uppercase;
  text-align: left;
  background-color: black;
  display: inline-block;

  color: #3553FF;
  width: 45%;
  height: 40px;
  margin-top: 20px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-image: linear-gradient(to left, #269EFF, #3553FF);
  color: white;
}


.form-2{
  padding: 30px;
  font-size: 14px;
}

.form-2 input[type='text']{
  color: #3553FF;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 60px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.form-2 input[type='text'] .one{
  color: #3553FF;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 60px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.form-2 input[type='text'].two{
  width: 50%;
  height: 40px;
  margin-top: 20px;
  margin-right: 22px;
  padding-left: 60px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.form-2 ::placeholder{
  color: #3553FF;
  font-size: 14px;
}


.form-2 textarea[type='text']{
  color: #3553FF;
  width: 100%;
  height: 120px;
  margin-top: 20px;
  padding-left: 60px;
  padding-top: 8px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.icon{
  clear: both;
  float: left;
  position: fixed;
  margin-top: 33px;
  margin-left: 20px;
  color: #3553FF;
}


.button-c{
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: none;
  background-image: linear-gradient(to left, #269EFF, #3553FF); 
  color: white;
  border-radius: 100px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: .5px;
}



/* background-image: linear-gradient(to top, #269EFF, #3553FF); */



  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 460px) {
      
  .sidenav{
    display: none;
  }
  /* The side navigation menu */
  .sidenav-min {
    height: 100%; /* 100% Full-height */
    width: 60px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: linear-gradient(to top, #269EFF, #3553FF);
    overflow-x: hidden;
    overflow-y: auto; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: none;
    }
    
    /* The navigation menu links */
    .sidenav-min a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav-min a:hover {
    color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav-min .closebtn {
      background-color: rgb(0, 213, 102);
      margin-top: -60px;
      font-size: 30px;
      margin-bottom: 10px;
      box-shadow: 0 3px 10px 10px rgb(0, 0, 0, .1);
    }

    .footer{
      margin-top: 20px;
      bottom: 0;
      left: 19px;
      font-size: 9px;
    }

    .footer sup{
      font-size: 6px;
    }

    .posted{
      font-size: 13px;
    }

    .pad-l{
      padding-left: 10px;
      padding-top: 26px;
      font-weight: 700;
      margin-bottom: 20px;
  }
  

  .form input[type='text']{
    color: rgb(49, 175, 58);
    margin-top: 30px;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 7px;
    border: none;
    background-color: rgb(232, 255, 234);
    border-radius: 50px;
    margin-left: -90px;
  }

  .form ::placeholder{
    color: #53DA5B;
    font-size: 14px;
  }



  .add-btn{
    display: none;
  }

  .pad-a{
    padding-left: 0px;
    padding-top: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }



  html{
    overflow-x: hidden;
  }

  .card{
    border: none;
    width: 184px;
    height: 260px;
    float: left;
    margin-left: 75px;
    margin-bottom: 40px;
    box-shadow: 0 0 18px 1px rgba(170, 170, 170, 0.4)
}

.search{
  color: #53DA5B;
  margin-left: -40px;
  margin-right: 0px;
  background: none;
  border: none;
}



.header-x-min{
  padding-right: 25px;
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 25px;
  color: #fff;
  border-bottom-left-radius: 30px;
  border: none;
  background-color: #3553FF;
  box-shadow: 0 0 10px 0 #3553FF;
  position: fixed;
  right: 0;
  top: 0;
}


.main-mod-min{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background-color: rgb(0, 0, 0, .5);
}


.inner-mod{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: white;
}




.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  text-transform: uppercase;
  text-align: left;
  background-color: black;
  display: inline-block;

  color: #3553FF;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-image: linear-gradient(to left, #269EFF, #3553FF);
  color: white;
}


.form-2{
  padding: 30px;
  font-size: 14px;
}

.form-2 input[type='text']{
  color: #3553FF;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 60px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.form-2 input[type='text'] .one{
  color: #3553FF;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 60px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.form-2 input[type='text'].two{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-right: 22px;
  padding-left: 60px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.form-2 ::placeholder{
  color: #3553FF;
  font-size: 14px;
}


.form-2 textarea[type='text']{
  color: #3553FF;
  width: 100%;
  height: 120px;
  margin-top: 20px;
  padding-left: 60px;
  padding-top: 8px;
  padding-right: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.icon{
  clear: both;
  float: left;
  position: fixed;
  margin-top: 33px;
  margin-left: 20px;
  color: #3553FF;
}


  .button-c{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(to left, #269EFF, #3553FF); 
    color: white;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .5px;
  }
  
  .flo-min{
    float: left;
  }

  .add-btn-min{
    background-image: linear-gradient(to top, #00D566, #00BFCE);
    border-style: solid;
    color: white;
    float: right;
    padding-top: 4px;
    padding-bottom: 8px;
    border-radius: 50px;
    border-color: white;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 5px 0 rgb(1, 219, 107);
    margin-right: 10px;
    margin-top: -3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 20px;
    border-radius: 100px;
    color: white;
  }

  
  .tog-btn{
    background-image: linear-gradient(to top, #269EFF, #3553FF);
    border-style: solid;
    color: white;
    float: right;
    padding-top: 4px;
    padding-bottom: 8px;
    border-radius: 50px;
    border-color: white;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 5px 0 rgb(53, 83, 255);
    margin-right: 10px;
    margin-top: -3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 20px;
    border-radius: 100px;
    
  }

  


}


/* when screen is big */

@media (min-width: 460px){
  .tog-btn{
    display: none;
  }
  .add-btn-min{
    display: none;
  }
}


